* {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-family: Arial;
    background-color: rgb(0, 0, 0);
}

#darkmodeWrapper {
    position: fixed;
    padding: 1vw;
    margin: 0;
    top: 1vw;
    left: 1vw;
    height: 10vw;
    width: 10vw;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0);
    z-index: 1;
}

#settingsWrapper {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 2vw;
    right: 0;
    height: 10vw;
    width: 10vw;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0);
    z-index: 7;
}

#swipeWrapper {
    position: fixed;
    display: none;
    padding: 0;
    margin: 0;
    top: 2vh;
    left: 25vw;
    opacity: 0.25;
}

#mobileSwipeInfo {
    width: 50vw;
    height: auto;
}

#darkmodeImgSun,
#darkmodeImgMoon {
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 8vw;
    width: 8vw;
    transition: all 0.5s, left 1s, top 1s, opacity 0s;
}

#darkmodeImgMoon {
    top: 100vh;
    left: -10vw;
    opacity: 0;
}

#settingImg {
    position: fixed;
    top: 2vw;
    right: 2vw;
    height: 8vw;
    width: 8vw;
    transition: 0.25s;
    filter: brightness(0.5);
    transition: all 2s, transform 0.25s, height 0s, width 0s, top 0s, right 0s;
}

#settingImg2 {
    position: absolute;
    top: 3%;
    right: 3%;
    height: 3vw;
    width: 3vw;
    transition: 0.25s;
}

#darkmodeImgSun:hover,
#darkmodeImgMoon:hover,
#settingImg:hover,
#settingImg2:hover,
.settingFlag:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#settingBox {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10%;
    right: 10%;
    height: 0;
    width: 0;
    max-width: 90vw;
    border-radius: 50px;
    background-color: rgb(50, 50, 50);
    transition: 0.5s;
}

#settingItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
}

.settingItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    width: 92%;
    height: 100%;
    padding: 4%;
    margin: 0;
}

.settingItem figure {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.settingText {
    padding: 0;
    margin: 0;
    width: 40%;
    text-align: center;
    font-size: 24px;
}

.settingText a {
    color: white;
}

.settingText img {
    height: 30px;
    width: 30px;
}

#settingsSimpleText {
    width: 80%;
}

.settingFlag {
    border-radius: 10px;
    transition: 0.5s;
    filter: brightness(0.5);
}

.currentFlag {
    filter: brightness(1);
}

.switch {
    position: relative;
    padding: 0;
    margin: 10px;
    min-width: 60px;
    max-width: 60px;
    height: 34px;
    transition: 1s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#fullPage {
    position: fixed;
    display: grid;
    height: 100vh;
    width: 400vw;
    left: 0;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(100vw, 4);
    background-color: #9BBDD1;
    transition: all 2.5s, left 1s;
}

.part {
    position: absolute;
    height: 100%;
    width: 100vw;
}

#part1 {
    left: 0;
}

#littleHouse {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    left: 20vw;
    width: 45vw;
    height: auto;
    pointer-events: none;
    transition: 0.5s;
    z-index: 4;
}

#homeRectangle,
#chimneyRectangle,
#roofTriangle,
#doorRectangle,
#homeWindow,
#doorKnob,
#smoke1,
#smoke2,
#smoke3,
#smoke4 {
    transition: 2s;
}

#chimneyRectangle {
    pointer-events: all;
}

#smoke1,
#smoke2,
#smoke3,
#smoke4 {
    opacity: 0;
}

.welcomeHover {
    user-select: none;
    pointer-events: all;
    transition: 0.1s;
}

.welcomeHover:hover {
    fill: rgb(0, 0, 0);
    transform: scale(0.8);
}

#nav1 {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    right: 5%;
    width: 20vw;
    height: auto;
    transform: scale(1.25);
}

#nav1Rectangle1,
#nav1Rectangle2,
#nav1Rectangle3,
#nav1Rectangle4,
#nav1Rectangle5,
#nav1Triangle1,
#nav1Triangle2,
#nav1Triangle3,
#nav1Triangle4,
#nav1Triangle5,
#nav1Text1,
#nav1Text2,
#nav1Text3,
#nav1Text4 {
    transition: all 2s, transform 0s;
}

#nav1Lamp,
#nav1Light {
    transition: 0.25s;
    pointer-events: none;
}

#part2 {
    left: 100vw;
}

#littleOffice {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    left: 27.5%;
    width: 40vw;
    height: auto;
    pointer-events: none;
    transition: 2s;
    z-index: 4;
}

.projectHover {
    pointer-events: all;
}

.projectHover:hover {
    fill: #7f5fff;
    cursor: pointer;
}

#officeRectangle,
#frontBoardRectangle,
#frontBoardText,
#window1,
#window2,
#window3,
#window4,
#window5,
#window6,
#window7,
#window8,
#window9,
#behindDoor,
#doorLeft,
#doorRight {
    transition: 2s;
}

#projectMoreInfoClose {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#projectMoreInfo {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    bottom: 12.5vh;
    left: 12.5vw;
    width: 75vw;
    height: 75vh;
    color: black;
    border: 1px solid black;
    border-radius: 5vw;
    background-color: rgb(175, 175, 175);
    opacity: 0;
    transition: all 2s, opacity 0.2s;
    z-index: 6;
}

.projectMoreInfoTitle {
    padding: 0;
    margin: 2vh 0;
    font-size: 4vw;
    width: 100%;
    text-align: center;
}

.projectMoreInfoTitle::before {
    content: '';
    display: block;
    position: absolute;
    top: 6vw;
    width: 97%;
    left: 1.5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.projectMoreInfoText {
    padding: 0;
    margin: 0 1vw;
    font-size: 1.5vw;
    text-align: left;
}

#projectCloseImg {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 2vw;
    left: 2vw;
    height: 3vw;
    width: 3vw;
    filter: invert(100%);
}

#projectCloseImg:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#nav2 {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    right: 5%;
    width: 20vw;
    height: auto;
    transform: scale(1.25);
    z-index: 2;
}

#nav2Rectangle1,
#nav2Rectangle2,
#nav2Rectangle3,
#nav2Rectangle4,
#nav2Rectangle5,
#nav2Triangle1,
#nav2Triangle2,
#nav2Triangle3,
#nav2Triangle4,
#nav2Triangle5,
#nav2Text1,
#nav2Text2,
#nav2Text3,
#nav2Text4 {
    transition: all 2s, transform 0s;
}

#nav2Lamp,
#nav2Light {
    transition: 0.25s;
    pointer-events: none;
}

#part3 {
    left: 200vw;
}

#aboutInfo {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

#basicInfo {
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 0;
    margin: 0;
    top: 10%;
    left: -60%;
    transition: all 1s, opacity 0s;
    opacity: 0;
}

#infoBox1 {
    display: none;
    padding: 0;
    margin: 0;
    height: auto;
    width: 50vw;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2vw;
    color: black;
    text-align: left;
    background-color: rgb(170, 170, 170);
    transition: 2s;
}

.infoBoxText {
    padding: 0;
    margin: 20px;
    font-size: 1.5vw;
    font-weight: 500;
}

.infoBoxTop {
    font-size: 2vw;
    font-weight: 600;
}

.infoBoxClickable {
    color: rgb(80, 150, 80);
    text-decoration: underline;
    pointer-events: all;
}

.infoBoxClickable:hover {
    cursor: pointer;
}

.infoBoxSmall {
    font-size: 1.2vw;
}

#infoBox1 a {
    color: inherit;
    pointer-events: all;
}

.line1,
.line2 {
    padding: 0;
    margin: 15px -5px 15px 0;
    height: 5px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.3);
}

#catPlane,
#dogPlane {
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 5px;
    margin: 0;
    top: 100%;
    left: -50%;
    height: 15vw;
    width: 30vw;
    opacity: 0;
    transition: all 1s, opacity 0s;
    z-index: 1;
}

#catPlane {
    top: 105%;
}

#dogPlane {
    top: 120%;
}

#catImg,
#dogImg {
    height: 80%;
    width: auto;
    border: 1px solid black;
    border-radius: 50px;
    border-radius: 50px;
    background-color: rgb(170, 170, 170);
}

#interests {
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 0;
    margin: 0;
    top: 30%;
    left: -60%;
    transition: all 1s, opacity 0s;
    opacity: 0;
}

#infoBox2 {
    padding: 0;
    margin: 0;
    height: auto;
    width: 50vw;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2vw;
    color: black;
    text-align: left;
    background-color: rgb(170, 170, 170);
    transition: 2s;
}

.infoBoxList {
    padding: 0;
    margin: 20px 20px 20px 50px;
    font-size: 1.5vw;
    font-weight: 500;
}

.infoBoxListItem {
    margin: 20px 0 0 0;
}

#aboutSkills {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: -10%;
    height: 60%;
    width: 80%;
    pointer-events: none;
    transition: all 1s, opacity 0s;
    z-index: 1;
}

#htmlSkill,
#cssSkill,
#jsSkill,
#otherSkills {
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 0;
    margin: 1% 0;
    width: 0;
    height: 25%;
    transition: all 1s, opacity 0s;
}

.skillBox1,
.skillBox2,
.skillBox3,
.skillBox4,
.skillBox5,
.skillBox6,
.skillBoxOther {
    display: flex;
    text-align: center;
    place-items: center;
    padding: 0;
    margin: 0 2px 0 0;
    width: 10%;
    height: 4vh;
}

.skillBox1 {
    background-color: rgba(150, 0, 0, 0.5);
}

.skillBox2 {
    background-color: rgba(150, 50, 0, 0.5);
}

.skillBox3 {
    background-color: rgba(150, 100, 0, 0.5);
}

.skillBox4 {
    background-color: rgba(150, 150, 0, 0.5);
}

.skillBox5 {
    background-color: rgba(100, 150, 0, 0.5);
}

.skillBox6 {
    background-color: rgba(50, 150, 0, 0.5);
}

.skillBoxOther {
    background-color: rgba(50, 50, 50, 0.5);
}

#skillText1,
#skillText2,
#skillText3,
#skillText4,
#skillText5,
#skillText6,
#skillText7 {
    margin: 0 0 0 1vw;
    font-size: 1.5vw;
    color: white;
    width: 70%;
    transition: all 1s;
    opacity: 0;
}

#plane5,
#plane6,
#plane7,
#plane8 {
    min-height: 100px;
    min-width: 100px;
    transition: all 2s, opacity 0s;
    opacity: 0;
}

#planeMid1,
#planeMid2,
#planeMid3,
#planeMid4,
#planeMid5,
#planeMid6,
#planeMid7,
#planeMid8 {
    min-height: 100px;
    min-width: 100px;
    transition: all 2s, opacity 0s;
}

#towerControl {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 3.5vh;
    left: 20%;
    height: 25vh;
    width: 40vw;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    color: black;
    background-color: rgb(200, 200, 200);
    transition: 2s;
}

#controlText {
    padding: 0;
    margin: 10px 0 0 0;
    height: 5%;
    width: 100%;
    font-size: 3vw;
    text-align: center;
}

.controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 0;
    margin: 0;
    bottom: 0;
    height: auto;
    width: 33%;
}

#control2 {
    left: 33%;
}

#control3 {
    left: 66%;
}

.controlButtonText {
    font-size: 1.5vw;
}

.controlButton {
    padding: 0;
    margin: 0;
    height: 3vw;
    width: 3vw;
    border: 1px solid black;
    border-radius: 50%;
}

#basicInfoButton,
#interestsButton,
#skillsButton {
    background-color: rgb(80, 150, 80);
    transition: 0.25s;
}

#basicInfoButton:hover,
#interestsButton:hover,
#skillsButton:hover {
    background-color: rgb(150, 150, 150) !important;
    cursor: pointer;
}

#atcTower {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    right: 15%;
    width: 20vw;
    filter: saturate(0);
    user-select: none;
    transition: 2s;
    z-index: 4;
}

#nav3 {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    right: 5%;
    width: 20vw;
    height: auto;
    transform: scale(1.25);
    z-index: 2;
}

#nav3Rectangle1,
#nav3Rectangle2,
#nav3Rectangle3,
#nav3Rectangle4,
#nav3Rectangle5,
#nav3Triangle1,
#nav3Triangle2,
#nav3Triangle3,
#nav3Triangle4,
#nav3Triangle5,
#nav3Text1,
#nav3Text2,
#nav3Text3,
#nav3Text4 {
    transition: all 2s, transform 0s;
}

#nav3Lamp,
#nav3Light {
    transition: 0.25s;
    pointer-events: none;
}

#part4 {
    left: 300vw;
}

#littleBillboard {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    left: 20%;
    width: 50vw;
    height: auto;
    z-index: 4;
}

#billboardSupportLeft,
#billboardSupportRight,
#aboveBillboard,
#billboardRectangle,
#billboardSupportLeftStand,
#billboardSupportRightStand {
    transition: 2s;
}

#billboardLight1,
#billboardLight2,
#billboardLight3,
#billboardLight4,
#billboardLight5 {
    transition: 0.25s;
}

#linkToGmail,
#linkToLinkedIn,
#linkToGithub {
    pointer-events: all;
}

#linkToLinkedIn:hover,
#linkToGithub:hover {
    cursor: pointer;
    filter: brightness(0.75);
}

#linkToGmail:hover { cursor: pointer; }
#linkToGmail:hover :not(rect) { filter: invert(0.5); }

#nav4 {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 4vh;
    right: 5%;
    width: 20vw;
    height: auto;
    transform: scale(1.25);
}

#nav4Rectangle1,
#nav4Rectangle2,
#nav4Rectangle3,
#nav4Rectangle4,
#nav4Rectangle5,
#nav4Triangle1,
#nav4Triangle2,
#nav4Triangle3,
#nav4Triangle4,
#nav4Triangle5,
#nav4Text1,
#nav4Text2,
#nav4Text3,
#nav4Text4 {
    transition: all 2s, transform 0s;
}

#nav4Lamp,
#nav4Light {
    transition: 0.25s;
    pointer-events: none;
}

#floor {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    height: 4vh;
    width: 400vw;
    background: rgb(100, 100, 100);
    transition: 2s;
    z-index: 3;
}

.navHover {
    transition: all 2s, filter 0.2s !important;
}

.navHover:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

text {
    pointer-events: none;
}
